@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    cursor: default;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background: radial-gradient(circle at 30% 107%, #1d1c29, #2a202e, #21232c, #192620);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

#main {
    z-index: 9999;
}

#title {
    position: absolute;
    margin-top: 55px;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title > div {
    font-family: 'Lobster', sans-serif;
    font-size: 75px;
    color: #fff;
    display: flex;

    animation: tilt-shaking 3s infinite;
}

#social-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 5vmax;
}

.social-button {
    cursor: pointer;
    width: 8vmax;
    height: 8vmax;
    border: none;
    border-radius: 50%;
    outline: 0.5vmax solid #fff;
    background-color: transparent;
    transition: all 0.3s;
    position: relative;
}

.icon-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.social-name {
    font-size: 2vmax;
    font-family: 'Acme', sans-serif;
    font-weight: 400;
    color: #fff;

    position: absolute;
    top: 10vmax;
    opacity: 0;

    transition: all 0.3s;

    transform: translate(-50%);

    pointer-events: none;
}

.social-button:hover > label {
    opacity: 1;
    animation-name: textMove;
    animation-duration: 0.3s;
    animation-direction: alternate;
}

.social-button:hover {
    outline-offset: 0.3vmax;
    transition: all 0.3s;
}

.social-button:hover:nth-child(1) {
    background: radial-gradient(
        circle at 30% 107%, 
        rgba(245,226,115,1) 0%, rgba(245,226,115,1) 5%, 
        rgba(255,36,36,1) 45%, rgba(255,41,168,1) 60%, 
        rgba(19,95,255,1) 90%
        );
}

.social-button:hover:nth-child(2) {
    background-color: #fff;
}

.social-button:hover:nth-child(2) svg {
    filter: brightness(0) saturate(100%) invert(5%) sepia(22%) saturate(4222%) hue-rotate(203deg) brightness(100%) contrast(101%);
}

.social-button:hover:nth-child(3) {
    background-color: #1151ff;
}

@media all and (max-width: 500px){
    #title > div {
        font-size: 40px;
    }

    body {
        scroll-snap-type: x mandatory;
    }

    #social-buttons{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: start;
        max-width: 50vw;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        gap: 0 2vmax;

        overflow-y: visible;
    }

    #social-buttons::-webkit-scrollbar {
        height: 10px;
    }

    #social-buttons::-webkit-scrollbar-track {
        background: rgba(0,0,0,0.3);
        border-radius: 999px;
        -webkit-opacity: 0;
    }

    #social-buttons::-webkit-scrollbar-thumb {
        background: #fff;
        border-radius: 999px;
    }

    .social-button{
        min-width: 100%;
        min-height: 50vw;
        outline: none;
        border-radius: 10%;
        scroll-snap-align: start;
        gap: 100px;

        overflow: visible;
        box-shadow: 0px 8px 10px 5px rgba(0,0,0,0.3) inset;
        -webkit-box-shadow: 0px 8px 10px 5px rgba(0,0,0,0.3) inset;
        -moz-box-shadow: 0px 8px 10px 5px rgba(0,0,0,0.3) inset;
    }

    .social-button:hover{
        background-color: none;
    }

    .icon-center > svg {
        transform: scale(3);
    }

    .social-name {
        display: none;
    }

    .social-button:nth-child(1) {
        background: radial-gradient(
        circle at 30% 107%, 
        rgba(245,226,115,1) 0%, rgba(245,226,115,1) 5%, 
        rgba(255,36,36,1) 45%, rgba(255,41,168,1) 60%, 
        rgba(19,95,255,1) 90%
        );
    }
    .social-button:nth-child(2) {
        background-color: #fff;
    }

    .social-button:nth-child(2) svg {
        filter: brightness(0) saturate(100%) invert(5%) sepia(22%) saturate(4222%) hue-rotate(203deg) brightness(100%) contrast(101%);
    }

    .social-button:nth-child(3) {
        background-color: #1151ff;
    }
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    5% {transform: translateY(-7px);}
    15% {transform: translateY(-7px);}
    20% { transform: rotate(-2deg) translateY(-7px); }
    30% { transform: rotate(2deg) translateY(-7px); }
    40% { transform: rotate(2deg) translateY(-7px); }
    57% { transform: rotate(0deg); }
}


@keyframes gradient {
    0% {
        background-position: top left;
        transform: rotate(0deg);
    }
    25% {
        background-position: top right;
    }

    50% {
        background-position: bottom right;
}

    75% {
        background-position: bottom left;
    }

    110% {
        background-position: top left;
        transform: rotate(359deg);
    }
}

@keyframes textMove {
    0% {
        opacity: 0;
        transform: translate(-50%) translateY(-2vmax);
    }

    10% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate(-50%);
    }
}